In [ ]:
# Definition of tuple and set in Python.
# A tuple is an ordered, immutable collection of elements.
# A set is an unordered, mutable collection of unique elements.

In [43]:
# Task 1 on Python Strings

In [44]:
# 1. Define the following string
txt = "Hello"
long_string = """This is a
multi-line
string example."""

In [45]:
type(txt)

str

In [46]:
type(long_string)

str

In [47]:
# 2. Performing Indexing
print("Character at index 1 in txt:", txt[1])

Character at index 1 in txt: e

In [48]:
print("Character at index 0 in txt:", txt[0])

Character at index 0 in txt: H

In [49]:
print("Character at index 3 in txt:", txt[3])

Character at index 3 in txt: l

In [50]:
print("Character at index 4 in txt:", txt[4])

Character at index 4 in txt: o

In [51]:
# 3. Performing Slicing
print("Characters between indexes 1 to 4 in txt:", txt[1:4])

Characters between indexes 1 to 4 in txt: ell

In [52]:
# 4. Using common string methods

In [53]:
# 4a. Remove whitespace (if any) by stripping
print("Stripped long_string:\n", long_string.strip())

Stripped long_string:
 This is a
multi-line
string example.

In [54]:
# 4ai. Further examples using stripping to remove whitespace
text = "  Hello, World!  "
print(text.strip())

Hello, World!

In [55]:
# 4aii. Further examples using stripping to remove specific characters
text1 = "##Hello, World!###"
print(text1.strip('#'))

Hello, World!

In [56]:
# 4b. Convert to lowercase
print("Lowercase txt:", txt.lower())

Lowercase txt: hello

In [57]:
# 4c. Convert to uppercase
print("Uppercase txt:", txt.upper())

Uppercase txt: HELLO

In [58]:
# 4d. Replace part of the string
print("Replace 'l' with 'x' in txt:", txt.replace("l", "x"))

Replace 'l' with 'x' in txt: Hexxo

In [59]:
# 4e. Split a string into a list
print("Splitting txt into characters:", txt.split())

Splitting txt into characters: ['Hello']

In [60]:
# 4ei. Further examples, splitting by space
text = "Hello world Python"
result = text.split()
print(result)

['Hello', 'world', 'Python']

In [61]:
# 4eii. Further examples, splitting by comma
data = "apple,banana,orange"
result = data.split(",")
print(result)

['apple', 'banana', 'orange']

In [62]:
# 4eiii. Further examples, splitting by newline \n
multiline = "line1\nline2\nline3"
result = multiline.split("\n")
print(result)

['line1', 'line2', 'line3']

In [63]:
# Task 2 on the breakdown and demonstration of list operations in Python

In [90]:
numbers = [3, 1, 2, 4]
fruits = ["apple", "banana", "cherry"] # where apple is at 0, banana is at 1, and cherry is at 2

In [91]:
# 1. Append – adds to the end
numbers.append(5)
print(numbers)

[3, 1, 2, 4, 5]

In [92]:
# 2. Insert – inserting orange in between apple and banana
fruits.insert(1, "orange") # where "1" symbolizes the location and "orange" symbolizes the index
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [93]:
# 3. Remove – remove by value (i.e. removing banana)
fruits.remove("banana")
print(fruits)

['apple', 'orange', 'cherry']

In [94]:
# 4. Pop – remove last item (or by index)
popped_item = fruits.pop()
print(popped_item)
print(fruits)

cherry
['apple', 'orange']

In [95]:
# 5. Clear – remove all elements
temp_list = [10, 20, 30]
temp_list.clear()
print(temp_list)

[]

In [96]:
# 6. Sort – sort list (ascending by default)
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

In [97]:
# 7. Reverse – reverse the list
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

In [98]:
# 8a.  Indexing
print(fruits[0])

apple

In [105]:
# 8b.  Indexing
print(fruits[1])

orange

In [109]:
# 9.  Slicing
print(numbers[1:4])

[4, 3, 2]

In [110]:
# 10.  Length of list using the len function
print(len(fruits))
print(len(numbers))

2
5

In [111]:
# 11. Loop through list
for fruit in fruits:
    print(fruit)

apple
orange

In [113]:
# Task 3 on comparison and exploration of Lists, Tuples, Sets, and Dictionaries, including their differences, use cases, and their relevance in Data Engineering.

In [115]:
# 1. Lists – Ordered, Mutable, Allows Duplicates
fruits = ['apple', 'banana', 'cherry']
fruits[1] = 'orange'  # Modifiable
print(fruits)
# Use Cases:
# a. Storing ordered sequences (e.g. rows in a dataset)
# b. Iterating and modifying data during ETL
# c. Dynamic collections (e.g. temporary records)
# d. In Data Engineering:
# e. Collecting rows from SQL queries
# f. Appending logs or stream records
# In Data Engineering:
# a. Collecting rows from SQL queries
# b. Appending logs or stream records

['apple', 'orange', 'cherry']

In [122]:
# 2. Tuples – Ordered, Immutable, Allow Duplicates
dimensions = (1920, 1080)
dimensions[0] = 1280
# Use Cases:
# a. Fixed data that shouldn’t change (coordinates, config values)
# b. Used as keys in dictionaries
# c. Safer than lists when data is constant

# In Data Engineering:
# a. Holding column definitions or schema metadata
# b. Coordinates in data visualizations
# c. Lightweight and faster than lists

TypeError: 'tuple' object does not support item assignment

In [123]:
# 3. Sets – Unordered, Mutable, No Duplicates
ids = set([1, 2, 2, 3])
ids.add(4)
print(ids)
# Use Cases:
# a. Removing duplicates
# b. Membership checks (if x in set)
# c. Set operations (union, intersection)

#In Data Engineering:
# a. Deduplicating user IDs or transactions
# b. Comparing distinct values across datasets
# c. Fast lookup tables for filtering

{1, 2, 3, 4}

In [128]:
# 4. Dictionaries – Key-Value Pairs, Mutable
person = {'name': 'Alice', 'age': 30}
person['age'] = 31
person['name'] = "Jane"
print(person)
# Use Cases:
# a. Mapping relationships (user → details)
# b. Fast lookup by key
# c. JSON-like structures

# In Data Engineering:
# a. JSON ingestion/parsing
# b. API data mapping
# c. Schema mapping (column name → data type)
# d. Configuration files

{'name': 'Jane', 'age': 31}

In [129]:
# Task 4 Python loops, especially for and while loops, with practical examples, including how to use break and continue.

In [130]:
# 1.  For Loop Recap
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [131]:
# 2. Looping with range(start, stop, step)
for x in range(3, 10, 2):
    print(x)  # Outputs: 3, 5, 7, 9
# Where Start = 3, Stop = 10 (not included), and Step = 2 (increments by 2)

3
5
7
9

In [133]:
# 3a. break and continue
for fruit in fruits:
    if fruit == "banana":
        break
    print(fruit) # (stops at banana)

apple

In [134]:
for fruit in fruits:
    if fruit == "banana":
        continue
    print(fruit) # (skips banana)

apple
cherry

In [135]:
# 4. While Loop
count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4